# --- Computer Vision & Image Processing ---
opencv-python
numpy
matplotlib

# --- Deep Learning Frameworks ---
torch
torchvision
ultralytics

# --- Optimization & Deployment ---
# Lưu ý: Cài tensorrt trên Windows/Linux có thể cần bản match với CUDA
tensorrt

# --- Machine Learning & Tools ---
scikit-learn
tqdm
pyyaml